clientMVC/SuecaWebClient/Service References/SuecaService/SuecaContracts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SuecaContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SuecaContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomState" type="tns:Room.StateRoom" />
      <xs:element minOccurs="0" name="listPlayers" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:simpleType name="Room.StateRoom">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WAITING_READY" />
      <xs:enumeration value="GAME_IN_PROGRESS" />
      <xs:enumeration value="END_GAME" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Room.StateRoom" nillable="true" type="tns:Room.StateRoom" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberTurn" type="xs:int" />
      <xs:element minOccurs="0" name="holdingCards" type="xs:int" />
      <xs:element minOccurs="0" name="isReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="takenCards" type="xs:int" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:simpleType name="CardColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Spades" />
      <xs:enumeration value="Diamonds" />
      <xs:enumeration value="Clubs" />
      <xs:enumeration value="Hearts" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardColor" nillable="true" type="tns:CardColor" />
  <xs:simpleType name="CardValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Two" />
      <xs:enumeration value="Three" />
      <xs:enumeration value="Four" />
      <xs:enumeration value="Five" />
      <xs:enumeration value="Six" />
      <xs:enumeration value="Seven" />
      <xs:enumeration value="Jack" />
      <xs:enumeration value="Queen" />
      <xs:enumeration value="King" />
      <xs:enumeration value="Ace" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CardValue" nillable="true" type="tns:CardValue" />
  <xs:complexType name="GameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstCard" nillable="true" type="tns:Card" />
      <xs:element minOccurs="0" name="ListCardsPlayed" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="ListCardsPlayer" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="ListPlayer" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="NumberPlayerToPlay" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="tabCards" nillable="true" type="tns:ArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="tns:CardColor" />
      <xs:element minOccurs="0" name="Value" type="tns:CardValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
</xs:schema>