ClientTest/ClientTest/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSueca" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_Sueca_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SuecaContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Sueca_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="Sueca_CreateRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="Sueca_JoinRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoom" />
  </wsdl:message>
  <wsdl:message name="Sueca_JoinRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinRoomResponse" />
  </wsdl:message>
  <wsdl:message name="Sueca_SendReady_InputMessage">
    <wsdl:part name="parameters" element="tns:SendReady" />
  </wsdl:message>
  <wsdl:message name="Sueca_SendReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendReadyResponse" />
  </wsdl:message>
  <wsdl:message name="Sueca_ListRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRoom" />
  </wsdl:message>
  <wsdl:message name="Sueca_ListRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRoomResponse" />
  </wsdl:message>
  <wsdl:message name="Sueca_GameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameStarted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="Sueca">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/Sueca/CreateRoom" message="tns:Sueca_CreateRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Sueca/CreateRoomResponse" message="tns:Sueca_CreateRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/Sueca/JoinRoom" message="tns:Sueca_JoinRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Sueca/JoinRoomResponse" message="tns:Sueca_JoinRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendReady">
      <wsdl:input wsaw:Action="http://tempuri.org/Sueca/SendReady" message="tns:Sueca_SendReady_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Sueca/SendReadyResponse" message="tns:Sueca_SendReady_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/Sueca/ListRoom" message="tns:Sueca_ListRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Sueca/ListRoomResponse" message="tns:Sueca_ListRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/Sueca/GameStarted" message="tns:Sueca_GameStarted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_Sueca" type="tns:Sueca">
    <wsp:PolicyReference URI="#WSDualHttpBinding_Sueca_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/Sueca/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinRoom">
      <soap12:operation soapAction="http://tempuri.org/Sueca/JoinRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReady">
      <soap12:operation soapAction="http://tempuri.org/Sueca/SendReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRoom">
      <soap12:operation soapAction="http://tempuri.org/Sueca/ListRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStarted">
      <soap12:operation soapAction="http://tempuri.org/Sueca/GameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSueca">
    <wsdl:port name="WSDualHttpBinding_Sueca" binding="tns:WSDualHttpBinding_Sueca">
      <soap12:address location="http://84.75.40.186:8731/SuecaServices/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://84.75.40.186:8731/SuecaServices/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>