ClientTest/ClientTest/Service References/ServiceReference1/SuecaContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SuecaContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SuecaContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listPlayers" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="holdingCards" type="xs:int" />
      <xs:element minOccurs="0" name="isReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="takenCards" type="xs:int" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>